*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero_main{
    height: 100vh;
    width: 98.6vw;
    background-image: url(../../assets/Slider_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hero_sec{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: -7rem;
    right: 4rem;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 18rem;
    background: rgba(218, 235, 255, 0.5);
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  .container {
    padding: 16px;
    display: grid;
  }