.market_main {
    padding-top: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;
}

.market_left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.market_left h2 {
    color: brown;
}

.address_market {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.child_address{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
.child_address span,p{
    color: gray;
}

.child_address{
    border-bottom: 1px solid rgb(185, 183, 183);
}

.videos{
    display: flex;
    flex-direction: column;
}

.videos {
    width: 20rem;
}

.market_right{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}